{% extends 'base.html.twig' %}

{% block title %}Košarica{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h2 class="text-center mt-2 bg-light p-2">Košarica</h2>
    </div>

    <div class="one_cart_item">
        {{ cart.quantity }}
    </div>
{% endblock %}
