{% extends 'base.html.twig' %}

{% block title %}Sport Shop{% endblock %}

{% block body %}
    <main>
        <section>
            <div class="inline-row-slider">
                <p>Inline row slider</p>
            </div>
        </section>

        <section>
            <div class="info-gallery">
                <p>Responsive image gallery with buttons & togglers</p>
            </div>
        </section>

        <section>
                Recommended categories just for you
            <div class="recommended-categories">
                <div class="group1">
                    <div class="item1">Sport#1</div>
                    <div class="item2">Sport#2</div>
                </div>
                <div class="activity">Aktivnost#1</div>
                <div class="group2">
                    <div class="item1">Sport#3</div>
                    <div class="item2">Sport#4</div>
                </div>
                <div class="activity">Aktivnost#2</div>
                <div class="group3">
                    <div class="item1">Sport#5</div>
                    <div class="item2">Sport#6</div>
                </div>
            </div>
        </section>

        <section>
            <div class="information-label">
                <p>Kontakt/Radno vrijeme/Naša lokacija/Loyalty program</p>
            </div>
        </section>
    </main>
{% endblock %}
