@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

footer {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: #999999;
    font-size: 25px;
}

footer .map iframe{
    width: 100%;
}

footer h5{
    text-transform: uppercase;
    font-weight: bold;
}