*{
    margin: 0!important;
    padding: 0!important;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}

.carousel-item{
    height: 200px;
}

.carousel .carousel-indicators li{
    margin-right: 10px!important;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recommended-categories{
    margin-top: 10px;
}

.recommended-categories img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recommended-categories p {
    position: absolute;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
    .carousel-item{
        height: 700px;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}




