.inline-row-slider {
    background-color: red;
}

.inline-row-slider > p {
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

.info-gallery {
    height: 600px;
    background-color: #999999;
}

.recommended-categories {
    margin: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    height: 600px;
    background-color: #5eb5e0;
}

.recommended-categories > .group1 {
    display: grid;
    background-color: red;
}

.recommended-categories > .activity {
    background-color: bisque;
}

.recommended-categories > .group2 {
    display: grid;
    background-color: darkgoldenrod;
}

.recommended-categories > .activity {
    background-color: lightgray;
}

.recommended-categories > .group3 {
    display: grid;
    background-color: rosybrown;
}

.group1 > .item1 {
    background-color: antiquewhite;
}

.group1 > .item2 {
    background-color: lightcoral;
}

.group2 > .item1 {
    background-color: antiquewhite;
}

.group2 > .item2 {
    background-color: lightcoral;
}

.group3 > .item1 {
    background-color: antiquewhite;
}

.group3 > .item2 {
    background-color: lightcoral;
}

.information-label{
}


