@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');

nav, .dropdown-menu{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 19px!important;
}

nav form input, nav form button{
    font-size: 19px!important;
}

nav .navbar-brand img{
    width: 50px;
    height: 50px;
}

#carousel-homepage-info .carousel-item{
    height: 200px;
    width: auto;
}

#carousel-homepage-info .carousel .carousel-indicators li{
    margin-right: 10px!important;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    cursor: pointer;
}

#carousel-homepage-info .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15{
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-15{
    width: 20%;
    float: left;
}

.top-categories .item1:hover,
.top-categories .item2:hover,
.top-categories .activity:hover{
    opacity: 0.8;
    cursor: pointer;
}

.top-categories .item1 img,
.top-categories .item2 img,
.top-categories .activity img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-categories p{
    position: absolute;
    color: #fff;
}

h4.top-categories-title, h4.recommended-categories-title{
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
}

@media (min-width: 768px){
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px){
    .col-md-15 {
        width: 20%;
        float: left;
    }
    #carousel-image-info .carousel-item{
        height: 700px;
    }
}

@media (min-width: 1200px){
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}




