<form method="post" action="{{ path('delivery_address_delete', {'id': delivery_address.id}) }}"
      onsubmit="return confirm('Jeste li sigurni da želite obrisati ovu adresu?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ delivery_address.id) }}">
    <button class="btn btn-outline-danger mb-3 mt-2">
        {{ 'deliveryAddressTable.delete'|trans({}, 'delivery_address') }}
    </button>
</form>
