<form method="post" action="{{ path('category_delete', {'id': category.id}) }}"
      onsubmit="return confirm('{{ 'delete_confirmation.message'|trans({}, 'category') }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn btn-danger mb-3 mt-2">
        {{ 'categoriesTable.delete'|trans({}, 'category') }}
    </button>
</form>
