{% extends 'base.html.twig' %}

{% block title %}Nova kategorija{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">Dodavanje nove kategorije</h2>

        <a href="{{ path('category_index') }}">
            <i class="fas fa-arrow-alt-circle-left"></i>
            Nazad na listu kategorija
        </a>

        {{ include('category/_form.html.twig') }}
    </div>
{% endblock %}
