{% extends 'base.html.twig' %}

{% block title %}Uvjeti i odredbe{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/terms_and_conditions.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center mt-2 bg-light p-2">
        Uvjeti i odredbe
        <img id="icon_terms-conditions" class="ml-1"
             src="{{ asset('icons/terms-and-conditions.png') }}" alt="">
    </h2>
    <div class="card">
        <p>
            <strong>Dobrodošli na stranicu SportShop web trgovine.</strong><br>
            Poštovani korisnici, molimo Vas da prije korištenja naših usluga, pažljivo
            pročitate sljedeće uvjete. Svaka posjeta našoj stranici, kao i kupnja, znači
            da ste ove uvjete pročitali i da se slažete s njima u cijelosti.
            Ukoliko su oni za Vas neprihvatljivi, molimo Vas da ne koristite ovu web stranicu.
        </p>
    </div>
    <div class="card">
        <p>
            SportShop Vam omogućuje korištenje usluga i sadržaja svoje stranice koja je
            podložna niže navedenim <strong>Uvjetima korištenja</strong>.<br>
            <strong>Uvjeti korištenja</strong> se primjenjuju na sve sadržaje i usluge stranice
            www.sportshop.hr. Korištenjem bilo kojeg dijela stranice, smatra se da su korisnici
            upoznati s ovim uvjetima, kao i da prihvaćaju korištenje sadržaja ove stranice
            isključivo za osobnu upotrebu i na vlastitu odgovornost. SportShop ima autorska prava
            na sve sadržaje (tekstualne, vizualne i audio materijale, baze podataka te
            programerski kod). Neovlašteno korištenje bilo kojeg dijela stranice, bez dozvole
            vlasnika autorskih prava, smatra se kršenjem autorskih prava i podložno je tužbi.
        </p>
    </div>
    <div class="card">
        <p>
            <strong>ODABIR NAČINA PLAĆANJA</strong><br>
            SportShop Vam omogućuje različite načine plaćanja: plaćanje debitnim i kreditnim
            karticama te plaćanje putem Paypal-a.
        </p>
    </div>
    <div class="card">
        <p>
            <strong>DOSTAVA</strong><br>
            Nakon potvrđene narudžbe, ukoliko postoji potreba za dodatnom provjere Vaših podataka
            kontaktirat će Vas prodavač radi potvrde i provjere svih podataka, najčešće u roku
            od 48h. Od tog trenutka rok isporuke je u pravilu 3 do 5 radnih dana. Za pojedina
            slabije povezana područja i otoke ovaj rok može biti duži. Molimo vas za razumijevanje
            za moguća kašnjenja u periodima velikih sniženja i sezonskih akcija, s obzirom da ovisimo
            i o vanjskim službama. Rok isporuke se tada može produžiti na 7 radnih dana.
        </p>
    </div>
    <div class="card">
        <p>
            <strong>ZAŠTITA PODATAKA I IZJAVA O PRIVATNOSTI</strong><br>
            Vaša privatnost i sigurnost Vaših podataka nam je važna. U skladu s zakonskim
            propisima o zaštiti osobnih podataka, posebno novom europskom Općom uredbom o
            zaštiti podataka (GDPR) koja je stupila na snagu 25. svibnja 2018. te Zakonom o
            provedbi Opće uredbe o zaštiti podataka, u nastavku Vas informiramo o tome na koji
            način obrađujemo Vaše osobne podatke. Naši informatički sustavi su tehničkim i
            organizacijskim mjerama zaštićeni od neovlaštenog pristupa, izmjene ili širenja
            Vaših podataka, kao i od gubljenja ili brisanja.
        </p>
    </div>
    <div class="card">
        <p>
            <strong>REGISTRACIJA I OTVARANJE PROFILA</strong><br>
            SportShop Vam omogućuje da se registrirate na njegovoj web stranici i otvorite svoj
            račun. Putem svog korisničkog računa možete vršiti online kupnju kao i ostvarivati
            druge pogodnosti. Ako imate račun na nekoj od društvenih mreža (Facebook/Google),
            možete povezati te račune sa SportShop računom kako biste olakšali i ubrzali postupke
            prijave. SportShop webshop nema pristup Vašim računima i lozinkama na tim društvenim
            mrežama, niti s pružateljima tih društvenih mreža dijelimo Vaše osobne podatke
            pohranjene kod nas.
        </p>
    </div>
    <div class="card">
        <p>
            <strong>ZAŠTITA PODATAKA</strong><br>
            Upotrebljavamo tehničke i organizacijske sigurnosne mjere kako bismo zaštitili Vaše
            osobne podatke od ilegalnog ili neovlaštenog pristupa ili upotrebe, kao i od slučajnog
            gubitka ili gubitka dijela podataka. Naši ugovorni suradnici koji se bave obradom
            podataka mogu obrađivati Vaše osobne podatke samo uz pridržavanje navedenih tehničkih
            i organizacijskih sigurnosnih mjera. Vaši osobni podaci zaštićeni su od neovlaštene ili
            nezakonite obrade i od slučajnog gubitka, uništenja ili oštećenja. Dostavna služba koju
            koristimo ima pristup samo onim informacijama koje su potrebne za dostavu naručenih paketa.
        </p>
    </div>
    <div class="card">
        <p>
            <strong>DOPUNE I IZMJENE</strong><br>
            Ovi Uvjeti korištenja mogu se povremeno mijenjati kako bi se uskladili s stvarnim stanjem
            i zakonskim propisima. Stoga Vam preporučujemo redovnu provjeru ovih Uvjeta korištenja kako
            biste imali najnovije informacije. Objavom na web stranici smatra se da su korisnici
            obaviješteni o novim Uvjetima korištenja te je dužnost korisnika da redovno prate promjene.
            Smatra se da je korisnik prihvatio nove Uvjete korištenja ako u roku od 8 dana od dana
            objave nije prigovorio na iste.
        </p>
    </div>
</div>
{% endblock %}
