<form method="post" action="{{ path('manufacturer_delete', {'id': manufacturer.id}) }}"
      onsubmit="return confirm('{{ 'delete_confirmation.message'|trans({}, 'manufacturer') }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ manufacturer.id) }}">
    <button class="btn btn-danger mb-3 mt-2">
        {{ 'manufacturerTable.delete'|trans({}, 'manufacturer') }}
    </button>
</form>
