{% extends 'base.html.twig' %}

{% block title %}Novi proizvođač{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/container50.css") }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">Dodavanje novog proizvođača</h2>
        <a href="{{ path('manufacturer_index') }}">
            <i class="fas fa-arrow-alt-circle-left"></i>
            Lista proizvođača
        </a>
        {{ include('manufacturer/_form.html.twig') }}
    </div>
{% endblock %}
