{% extends 'base.html.twig' %}

{% block title %}Loyalty program vjernosti{% endblock %}

{% block body %}

<div class="container">
    <h2 class="text-center mt-2 bg-light p-2">Kako do svoje sport shop kartice vjernosti</h2>

    Opis kako rade bodovi
    lijevo slika kartice koja se na hover mice po nekoj aimaciji (kao na pevex)
    desno do nje
    Postani član PEVEX KLUB-a vjernosti
    Pristupnicu možete pronaći u PEVEX prodajnim centrima, na info pultu ili je popunite online.
    link na registraciju korisnika ako nije registriran, ako je onda ide odmah na account settings
</div>
{% endblock %}
