{{ form_start(formPromoCode) }}
    {{ form_widget(formPromoCode) }}
    <div class="text-center">
        <button class="btn btn-primary mb-3">
            {{ 'form.button_label'|trans({}, 'promo_code_user') }}
        </button>
    </div>
{{ form_end(formPromoCode) }}
