{% extends 'base.html.twig' %}

{% block title %}Upravljanje akcijama{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">Upravljanje akcijama</h2>
        <div class="text-center mt-3">
            <a class="btn btn-primary" href="{{ path('action_item_index') }}">
                Upravljanje akcijama artikala
                <i class="fas fa-hand-pointer"></i>
            </a>
            <a class="btn btn-info" href="{{ path('action_item_index') }}">
                Upravljanje akcijama kategorija
                <i class="far fa-hand-pointer"></i>
            </a>
        </div>
    </div>
{% endblock %}
