{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <button class="btn btn-outline-secondary mb-3">{{ button_label|default('Dodaj loyalty karticu') }}</button>
    </div>
{{ form_end(form) }}
