<form method="post" action="{{ path('color_delete', {'id': color.id}) }}"
      onsubmit="return confirm('Jeste li sigurni da želite obrisati ovu boju?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ color.id) }}">
    <button class="btn btn-outline-danger mb-3 mt-2">Obriši boju</button>
</form>
