{% extends 'base.html.twig' %}

{% block title %}Nova boja{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">Dodavanje nove boje</h2>

        {{ include('color/_form.html.twig') }}

        <a href="{{ path('color_index') }}">
            <i class="fas fa-arrow-alt-circle-left"></i>
            Nazad na listu boja
        </a>
    </div>
{% endblock %}
