<form method="post" action="{{ path('item_size_delete', {'id': itemSize.id}) }}"
      onsubmit="return confirm('{{ 'delete_confirmation.size.message'|trans({}, 'item') }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ itemSize.id) }}">
    <button>
        <i id="delete" class="far fa-trash-alt"
           title="{{ 'edit.deleteItemSize'|trans({}, 'item') }}">
        </i>
    </button>
</form>