<form method="post" action="{{ path('item_delete', {'id': item.id}) }}"
      onsubmit="return confirm('{{ 'delete_confirmation.item.message'|trans({}, 'item') }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    <button class="btn btn-outline-danger mb-3 mt-2">
        {{ 'itemsTable.delete'|trans({}, 'item') }}
    </button>
</form>
