{% extends 'base.html.twig' %}

{% block title %}{{ category}}{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">Kategorija {{ category }}</h2>


    </div>
{% endblock %}
