{% extends 'base.html.twig' %}

{% block title %}Novi artikl{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/registration.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-2">Kreiranje novog artikla</h1>

        {{ include('item/_form.html.twig') }}
    </div>
{% endblock %}
