{% extends 'base.html.twig' %}

{% block title %}Novi artikl{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/container.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">Dodavanje novog artikla</h2>

        <a href="{{ path('item_index') }}">
            <i class="fas fa-arrow-alt-circle-left"></i>
            Lista artikala
        </a>

        {{ include('item/_form.html.twig') }}
    </div>
{% endblock %}
