{% extends 'base.html.twig' %}

{% block title %}Postavljanje količine artikala{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/container40.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">Postavljanje količine artikala</h2>
        {{ include('item/set_quantity_form.html.twig') }}
    </div>
{% endblock %}
