{% extends 'base.html.twig' %}

{% block title %}Postavljanje količine{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/container.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-2 bg-light p-2">Postavljanje količine artikala ovisno o bojama/veličinama</h2>

        {{ include('item/_form.html.twig') }}
    </div>
{% endblock %}
