{{ form_start(formSetQuantity) }}
    {{ form_widget(formSetQuantity) }}
    <div class="text-center">
        <button class="btn btn-outline-secondary mb-3">
            {{ 'form_set_quantity.button_label'|trans({}, 'item') }}
        </button>
    </div>
{{ form_end(formSetQuantity) }}
