{{ form_start(formSetQuantity) }}
    {{ form_widget(formSetQuantity) }}
    <div class="text-center">
        <button class="btn btn-outline-secondary mb-3">Dodaj artikl</button>
    </div>
{{ form_end(formSetQuantity) }}
