<form method="post" action="{{ path('user_delete', {'id': user.id}) }}"
      onsubmit="return confirm('Jeste li sigurni da želite obrisati ovaj korisnički račun?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger mb-3 mt-2">Obriši račun</button>
</form>
