{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <button class="btn btn-success mb-3">
            {{ 'form_reset_password.button_label'|trans({}, 'user') }}
        </button>
    </div>
{{ form_end(form) }}